.form__input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 8px 0;
    outline: none;
    font-size: 16px;
    line-height: 17px;
    transition: border-bottom-color 200ms ease-in;
    border-radius: unset;
}