.popup__image-sign {
    position: absolute;
    left: 0;
    bottom: -15px;
    margin: 0;
    background: transparent;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}