.popup__close-button {
    width: 40px;
    align-self: flex-end;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    padding: 20px 0 20px 0;
    margin-right: -30px;
    background-image: url("../../../images/close-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.popup__close-button:hover {
    opacity: 60%;
    cursor: pointer;
    transition: opacity linear 0.2s;
}

@media screen and (max-width: 420px) {
    .popup__close-button {
        width: 26px;
        margin-right: 0;
    }
}
