@import url(./__logo/header__logo.css);
@import url(./__login/header__login.css);
@import url(./__logout/header__logout.css);
@import url(./__box/header__box.css);

.header {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 19px 0 19px;
}
.header:after{
  border-bottom: 1px solid rgba(84,84,84,.7);
  content: "";
  display: flex;
  margin-top: 40px;
  width: 100%;
}

@media screen and (max-width: 523px) {
  .header {
    min-height: 56px;
    flex-direction: column;
  }
  .header::after{
    margin-top: 20px;
  }
}
