.header__link {
    background-color: transparent;
    border: none;
    font-size: 18px;
    line-height: 1.22;
}

@media  screen and (max-width: 441px) {
    .header__link {
        /*max-width: 100px;*/
        /*text-align: center;*/
        /*margin: 18px auto 0;*/
    }
}