.profile__button_add {
  height: 50px;
  border-radius: 2px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.2s;
}

.profile__button_add:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__button_add:focus {
  outline: none;
}

@media all and (min-width: 320px) {
  .profile__button_add {
    width: 100%;
    padding: 17px 132px 17px 134px;
    margin-top: 36px;
  }
}

@media all and (min-width: 768px) {
  .profile__button_add {
    width: 150px;
    padding: 14px 64px;
    margin: 0;
  }
}
