.auth__fields {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 50px 0 215px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

@media screen and (max-width: 768px) {
    .auth__fields {
        padding: 40px 0 173px;
    }
}