.popup__button {
    max-width: 358px;
    margin: 48px 36px 37px 36px;
    background-color: black;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: calc(21.78 / 18);
    font-weight: 400;
    padding: 14px 124px 15px 125px;
    border: none;
}

.popup__button:hover {
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    transition: opacity linear 2s;
}

@media screen and (max-width: 600px) {
    .popup__button {
        max-width: 306px;
        margin: 45px 22px 25px 22px;
        padding-right: 87px;
        padding-bottom: 14px;
        padding-left: 87px;
    }
}

@media screen and (max-width: 420px) {
    .popup__button {
        max-width: 238px;
        padding-right: 92px;
        padding-left: 72px;
    }
}
