.form__save {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 50px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 200ms ease-in;
    outline: none;
}

.form__save:hover, .form__save:focus {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .form__save {
        font-size: 14px;
        height: 46px;
        line-height: 46px;
    }
}