.popup__closebtn {
    background: url(../../../images/CloseIcon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    top: -40px;
    right: -40px;
    min-width: 40px;
    min-height: 40px;
    border: none;
    cursor: pointer;
}

.popup__closedbtn:hover {
    opacity: .6;
    transition: opacity 2s ease;
}

@media screen and (max-width: 768px) {
    .popup__closedbtn {
        right: 0;
        min-width: 26px;
        min-height: 26px;
    }
}