.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s linear;
    display: flex;
}
