.footer {
    margin: 0 auto;
    padding: 66px 200px 60px;
    box-sizing: border-box;
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .footer {
        padding-right: 100px;
        padding-left: 100px;
    }
}

@media screen and (max-width: 900px) {
    .footer {
        padding-right: 19px;
        padding-left: 19px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        padding: 48px 19px 36px;
    }
}

