.btn_type_add-card {
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 2px;
    background-image: url(../../../images/plus.svg);
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .btn_type_add-card {
        margin: 33px auto;
        width: 100%;
    }
}