.footer__text {
    font-size: 18px;
    line-height: calc(21.78 / 18);
    font-weight: 400;
    font-style: normal;
    color: #545454;
    margin: 0;
    padding: 0;
    text-align: left;
}

@media screen and (max-width: 320px) {
    .footer__text {
        font-size: 14px;
        line-height: calc(16.94 / 14);
    }
}
