.elements__deletebtn {
    background: url("../../../images/Bin.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-self: center;
    width: calc(100%/15.6);
    height: calc(100%/14.8);
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    position: absolute;
    top: 18px;
    right: 15px;
    z-index: 3;
}