.profile {
    margin: 0;
    padding: 40px 0 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content) 1fr;
    grid-template-areas:
    "avatar info addbtn";
}

@media screen and (max-width: 768px) {
    .profile {
        padding-bottom: 36px;
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        "avatar"
        "info"
        "addbtn";
    }
}