.profile__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 1.222;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width: 768px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 1.214;
    margin-bottom: 36px;
  }
}
