.popup__field {
    margin: 30px 0 0 0;
    padding: 0 0 13px 0;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
    font-family: "Inter", sans-serif;
}

.popup__field:first-child {
    margin-top: 0;
}

.popup__field::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
    font-family: "Inter", sans-serif;
}