.popup__photo-container {
    display: block;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    position: fixed;
    max-width: 75vw;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    z-index: 20;
}