.user-entry__paragraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
  margin: 20px 0 0;
}

@media all and (min-width: 768px) {
  .user-entry__paragraph {
    margin-top: 15px;
  }
}
