.header__burger {
    margin: 0 5px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 20px;
    cursor: pointer;
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    border-left: none;
    border-right: none;
    display: flex;
    background-color: transparent;
}

.header__burger:hover {
    opacity: .6;
    transition: opacity 2s ease;
}