.button_type_submit {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 14px 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.222;
  font-weight: 400;
  border: 0;
  border-radius: 2px;
  transition: background-color 200ms;
}

.button_type_submit:hover {
  background-color: rgba(0, 0, 0, .8);
}

.button_type_submit:disabled {
  background-color: #fff;
  color: rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .2);
}

@media all and (max-width: 520px) {
  .button_type_submit {
    font-size: 14px;
    padding: 12px 0;
  }
}
