.button_theme_dark {
  color: #000;
  background-color: #fff;
}

.button_theme_dark:hover {
  background-color: rgba(255, 255, 255, .85);
}

.button_type_submit:disabled {
  background-color: rgba(255, 255, 255, .45);
  color: rgba(0, 0, 0, .2);
  border: 0;
}

@media all and (max-width: 520px) {
  .button_theme_dark {
    font-size: 16px;
    padding: 14px 0;
  }
}
