.auth__container {
    display: block;
    margin: 0 auto;
    padding: 60px 0 112px;
    box-sizing: border-box;
    width: 30%;
    max-width: 358px;
    flex-direction: column;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    outline: none;
    z-index: 5;
    font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1100px) {
    .auth__container {
        width: calc(100% - 200px);
    }

}

@media screen and (max-width: 900px) {
    .auth__container {
        padding: 25px;
        width: calc(100% - 38px);
    }
}