.user-entry__button {
  width: 100%;
  background: #FFFFFF;
  border-radius: 2px;
  height: 50px;
  padding: 0;
  border: none;
  font-weight: normal;
  text-align: center;
  color: #000000;
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.2s;
}

.user-entry__button:hover {
  cursor: pointer;
  opacity: 0.85;
}

@media all and (min-width: 320px) {
  .user-entry__button {
    font-size: 16px;
    line-height: 19px;
    margin-top: calc(173px - 30px);
  }
}

@media all and (min-width: 768px) {
  .user-entry__button {
    font-size: 18px;
    line-height: 22px;
    margin-top: calc(216px - 30px);
  }
}