.elements__photo {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 282px;
    box-sizing: border-box;
    object-position: center;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
}

.elements__photo:hover {
    opacity: .7;
    transition: opacity 1s ease;
}