.profile__info {
  font-family: 'Inter', Arial, sans-serif;
  margin-right: 17px;
  min-width: 0;
  max-width: 100%;
}

@media all and (max-width: 768px) {
  .profile__info {
    text-align: center;
    margin-right: 0;
  }
}
