.content {
    margin: 0 auto;
    padding: 0 200px 0;
    box-sizing: border-box;
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .content {
        padding-right: 100px;
        padding-left: 100px;
    }
}

@media screen and (max-width: 900px) {
    .content {
        padding-right: 19px;
        padding-left: 19px;
    }
}