.popup__preview-title {
    font-size: 12px;
    color: #FFFFFF;
    line-height: calc(14.52 / 12);
    font-weight: 400;
    font-style: normal;
    margin: 10px 0 0 0;
    padding: 0;
    align-self: flex-start;
    max-width: 75vw;
}
