.popup__wide-photo {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 75vw;
    max-height: 75vh;
    object-fit: contain;
    object-position: center;
    background-repeat: no-repeat;
}