.auth__submitbtn {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 2px;
    min-height: 50px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align-last: center;
    font-family: inherit;
    cursor: pointer;
    background-color: #FFFFFF;
    color: black;
}

.auth__submitbtn:hover {
    opacity: .8;
}

@media screen and (max-width: 768px) {
    .auth__submitbtn {
        font-size: 14px;
        text-align: center;
    }
}