.header__button {
    display: inline-block;
    margin: 0;
    padding: 5px 0 0 0;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: #A9A9A9;
    text-decoration: none;
}

.header__button:hover {
    opacity: .6;
    transition: opacity 2s ease;
}