.logo {
    margin: 0;
    padding: 0 0 41px 0;
    box-sizing: border-box;
    width: calc(100%/6.2);
}

@media screen and (max-width: 1024px) {
    .logo {
        width: calc(100%/4.5);
    }
}

@media screen and (max-width: 500px) {
    .logo {
        margin-left: 27px;
        padding-bottom: 31px;
        width: calc(100%/3);
    }
}