.burger__logo {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 104px;
}

@media screen and (max-width: 500px) {
    .burger__logo {
        margin-left: 0;
        padding-bottom: 0;
        width: 104px;
    }
}