.profile__profession {
    color: #FFFFFF;
    font-size: 18px;
    line-height: calc(21.78 / 18);
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 630px) {
    .profile__profession {
        margin: 0 0 36px 0;
        justify-self: center;
        max-width: 200px;
    }
}

@media screen and (max-width: 320px) {
    .profile__profession {
        max-width: 160px;
        font-size: 14px;
        line-height: calc(16.94 / 14);
        margin-bottom: 33px;
        margin-right: 10px;
    }
}
